.main-section{
	border:1px solid #000;
	width:100%;
}
.left-sidebar{
	background-color:#3A3A3A;
	padding: 0px;
}
.searchbox{
	width:100%;
	padding:27px 10px;
	border-bottom:2px solid #000;
}
.form-control,.search-icon,.search-icon:hover{
	background-color: rgba(31, 174, 193, 1);
	border:2px solid #fff;
	color:#fff;
	box-shadow: none !important;
}
.form-control:focus{
	border:1px solid #fff;
}
.char-left-img,.chat-left-detail{
	float:left;
}
.left-chat{
	overflow-y:scroll;
}
.left-chat ul{
	overflow:hidden;
	padding:0px;
}
.left-chat ul li{
	list-style: none;
	width:100%;
	float:left;
	margin:10px 0px 8px 15px;
}
.chat-left-detail img{
	width:50px;
	height:50px;
	border-radius:50%;
	text-align:left;
	float:fixed;
	border:3px solid #6B6F79;

}
.chat-left-detail{
	margin-left:5px;
}
.chat-left-detail a{
	margin:5px;
	color:#fff;
	padding:7px 0px 0px;
}
.chat-left-detail span{
	color: rgba(81, 225, 105, 1);
	margin-left:70px;
	 
}
.chat-left-detail span i{
	font-size:10px;
}
.chat-left-detail .orange{
	color:#E38968;
}
.right-sidebar{
	border-bottom:2px solid #000;
}
.right-header{
	border-bottom:2px solid #000;
	margin:0px;
	padding:0px;
}
.right-header-img img{
	width:50px;
	height:50px;
	float:left;
	border-radius:50%;
	border:3px solid #61BC71;
	margin-right:10px;
}
.right-header{
	padding:20px;
	height:90px;
	background-color:#3A3A3A;
}
.right-header-detail p{
	margin:0px;
	color:#fff;
	font-weight:bold;
	padding-top:5px;
}
.right-header-detail span{
	color:rgba(86, 245, 86, 1);
	font-size:12px;;
}
.btn-danger{
color:#fff;
background-color:rgba(216, 79, 82, 1);
border:2px solid #fff;
}

.rightside-left-chat,.rightside-right-chat{
	float:left;
	width:80%;
	position:relative;
}
.rightside-right-chat{
	float:right;
	margin-right:35px;
}
.right-header-contentChat{
	overflow-y:scroll;
	background-color:#FFFFFF;
	position:relative;
}
.right-header-contentChat ul li{
	list-style:none;
	margin-top:20px;
}
.right-header-contentChat .rightside-left-chat p,.right-header-contentChat .rightside-right-chat p{
	background-color:#86BB71;
	padding:15px;
	border-radius:8px;
	color:#fff;
}
.right-header-contentChat .rightside-right-chat p{
	background-color:rgba(239, 159, 168, 1);
}
.right-chat-textbox{
	padding:15px;
	width:100%;
	background-color:#3A3A3A;
}
.right-chat-textbox input{
	width:80%;
	height:45px;
	border:4px solid #00cb82;
	border-radius:8px;
	padding:0px 10px;
	margin-left:30px
}
.right-chat-textbox button{
	height:45px;
	width:100px;
	margin-left:30px;
	color: #fff;
	font-weight:bold;
	font-family:'constantia',sans-serif;

	font-size: 22px;
	background: #00cb82;
	border:4px solid  #fff;
	border-radius:8px;

}

.right-chat-textbox button: hover{
	background:#00b073 !important;
	outline:none;

}
.right-chat-textbox button: focus{
	background:#00b073 !important;
	outline:none;
}

.rightside-left-chat span i,.rightside-right-chat span i{
	color:#86BB71;
	font-size:12px;
}
.rightside-right-chat span i{
	color:#94C2ED;
}
.rightside-right-chat span{
	float:right;
}
.rightside-right-chat span small,.rightside-left-chat span small{
	color:rgba(235, 0, 4, 1);
}
.rightside-left-chat: before{
	content:" ";
	position:absolute;
	top:14px;
	left:15px;
	bottom:150px;
	border:15px solid transparent;
	border-bottom-color:#86BB71;
	z-index:1;
}
.rightside-right-chat:before{
	content:" ";
	position:absolute;
	top:14px;
	left:15px;
	bottom:150px;
	border:15px solid transparent;
	border-bottom-color:#94C2ED;
}
@media only screen and (max-width:320px){
	.main-section{
		display:none;
	}
}