body{
	background-image: url("image2.jpg");
	font-family:'constantia',sans-serif;
}

.main{
    height:320px;
	font-family:'constantia',sans-serif;
	margin-top: 180px;
	margin-right: 250px;
    margin-left: 250px;
    padding: 30px;
    font-weight:bold;
    background-color:  rgba(205, 233, 234, 0.97);
	border-top-left-radius:80px;
	border-bottom-right-radius:80px;
	border: 6px solid rgba(6, 234, 150, 1);
}

.main button{
	font-size: 24px;
	color:#5B2C6F  ;
	font-weight:bold;
	font-family:'constantia',sans-serif;
	background-color: rgba(6, 234, 150, 1);
	border-top-width:medium;
	border-right-width:medium;
	border-bottom-width:medium;
	border-left-width:medium;
	min-width: 100px;
	min-height: 40px;
	box-sizing:border-box;


}
.main button: hover{
	background:#00b073 !important;
	outline:none;

}
.main button: focus{
	background:#00b073 !important;
	outline:none;
}
.label input{
	min-height:31px;
	box-shadow:none;
	border-color:#e1e1e1;
	border-radius: 10px;
	border:1px solid rgba(6, 234, 150, 1);
}
.label: focus input{
	border-color:#00cb82;
}
.header{
	font-size:48px;
	font-weight:bold;
	color:#0033cc;

}